.newContactContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(221, 221, 221);
  /* border-left: 1px solid rgba(0, 0, 0, 0.158); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.newContactContainer h1 {
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Roboto";
  text-align: center;
}

.createContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3vmax;
  justify-content: space-evenly;
  height: 70%;
  width: 40vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.createContactForm>div {
  display: flex;
  width: 100%;
  align-items: center;
}

.createContactForm>div>input,
.createContactForm>div>select,
.createContactForm>div>textarea {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.createContactForm>div>svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

#ContactBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

#ContactBtn:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .newContactContainer {
    background-color: rgb(255, 255, 255);
  }

  .createContactForm {
    padding: 5vmax;
  }

  .createContactForm>div>input,
  .createContactForm>div>select,
  .createContactForm>div>textarea {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .createContactForm>div>svg {
    font-size: 2.8vmax;
  }

  #createContactBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
