.banner {
  background-image: url("../../images/Macbook.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner span {
  color: rgba(70, 117, 218, 0.932);
}

.image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner>h1 {

  font: 500 4.4vmax "Gotham Black";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner>p {
  margin: 1vmax;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font: 600 1.5vmax "Gotham";
}

.banner>a>button {
  margin-bottom: 5vmax;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}

.banner>a>button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

/* .banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  max-width: 100%;
} */

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard>img {
  width: 14vmax;
}

.productCard>div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard>p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard>span {
  margin: 0.5vmax;
  color: rgba(70, 117, 218, 0.932);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

/* Default styles for all screen sizes */
.new-drop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Adjust the gap between products */
  justify-content: center;
  margin-top: 20px;
}

.shop-all-container {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  /* Create a 3x2 grid */
  grid-gap: 20px;
  /* Adjust the gap between products */
  margin-top: 20px;
  justify-content: center;
}

.product-grid-item img {
  max-width: 50%;
  height: auto;
  display: block;
}

.newsletter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.newsletter-input {
  flex: 0.5;
  padding: 10px 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addToWishlistButton {
  background-color: rgba(70, 117, 218, 0.932);
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.addToWishlistButton:hover {
  background-color: #00008B;
}

.deleteButton {
  background-color: rgba(70, 117, 218, 0.932);
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #00008B;
}

/* Style for the Subscribe button */
.subscribe-button {
  background-color: rgba(70, 117, 218, 0.932);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #ff6347;
  /* Change the button color on hover to a lighter shade of rgba(70, 117, 218, 0.932) */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {

  /* Adjust styles for screens up to 768px wide */
  .new-drop-container {
    justify-content: flex-start;
    /* Align items to the left */
  }

  .shop-all-container {
    grid-template-columns: repeat(2, 1fr);
    /* 2x2 grid for smaller screens */
  }
}

@media screen and (max-width: 600px) {
  .productCard>p {
    font-size: 1.7vmax;
  }

  .productCard>div {
    margin: 0vmax;
    display: block;
  }

  .productCard>span {
    font-size: 1.5vmax;
  }

  .productCard>div>span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }

  .shop-all-container {
    grid-template-columns: 1fr;
    /* 1x1 grid for mobile */
  }
}
