* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.nav {
    background-color: #fff;
    padding: 1rem 2rem;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: height 0.5s ease-in-out;

}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    position: relative;
}

.nav-brand img {
    max-width: 50px;
    height: auto;
}

.toggle-collapse {
    display: none;
    cursor: pointer;
}

.nav-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: tomato;
}

.nav-search {
    display: flex;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
}

.social .nav-link {
    margin-right: 10px;
    font-size: 1.5rem;
}

.nav-link.search-box {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 0.5rem 1rem 0.5rem 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 1rem;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.search-button {
    display: none;
}

.search-input:hover+.search-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    height: 30px;
    margin-left: -1px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.login-button,
.logout-button,
.nav-link.shopping-cart,
.searchContainer {
    display: flex;
    align-items: center;
}

.login-button {
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    height: 30px;
    margin-right: 10px;
}

.logout-button {
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    height: 30px;
    margin-right: 10px;
}

.nav-link.shopping-cart{
    margin-right: 0;
}
.searchBox {
    display: flex;
    align-items: center;
}

.searchContainer {
    position: relative;
    display: inline-block;
}

.searchContainer input[type="text"] {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-right: 10px;
    font-size: 1rem;
    height: 30px;
    width: 300px;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #ccc;
    cursor: pointer;
}

.searchIcon:hover {
    color: tomato;
}

.cart-icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -7px;
    background-color: tomato;
    color: white;
    border-radius: 50%;
    padding: 4px 4px;
    font-size: 8px;
}

@media (max-width: 768px) {
    .nav {
        padding: 1rem;
    }

    .toggle-collapse {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #ccc;
    }

    .nav-items.active {
        display: flex;
    }

    .nav-link {
        margin-right: 0;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .social {
        display: none;
    }

    .social.active {
        display: flex;
        justify-content: space-between;
    }
}

.social .nav-link {
    font-size: 1.5rem;
}
