.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
}


.footer-section {
    flex: 1;
    /* text-align: center;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: rgba(70, 117, 218, 0.932) */
}

.column {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.footer-links {
    text-decoration: none;
    color: rgba(70, 117, 218, 0.932);
    margin-bottom: 10px;
    display: block;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

p {
    font-size: 0.9rem;
}

.nav-brand img {
    max-width: 50px;
    height: auto;
}
