.dashboard {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: absolute;
}

.dashboardContainer {
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  background-color: rgb(255, 255, 255);
  padding: 0 6rem;
}

.dashboardContainer > h1 {
  color: rgba(0, 0, 0, 0.733);
  font: 300 2rem "Roboto";
  text-align: center;
  width: 50%;
  padding: 1.5rem;
  margin: auto;
}

.dashboardSummary {
  margin: 2rem 0;
}

.dashboardSummary > div {
  display: flex;
  background-color: white;
  justify-content: center;
}

.dashboardSummary > div > p {
  background-color: rgba(70, 117, 218, 0.932);
  color: white;
  font: 300 1.3rem "Roboto";
  text-align: center;
  padding: 2rem;
  width: 100%;
  margin: auto;
}

.dashboardSummaryBox2 > a {
  font: 300 2rem "Roboto";
  text-align: center;
  text-decoration: none;
  padding: 1.5rem;
  width: 10vmax;
  height: 10vmax;
  margin: 2rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.dashboardSummaryBox2>a:nth-child(1) {
  background-color: #ff6b6b;
  color: rgb(255, 255, 255);
  /* Bright Red */
}

.dashboardSummaryBox2>a:nth-child(2) {
  background-color: #4eb3d3;
  color: rgb(255, 255, 255);
  /* Bright Blue */
}

.dashboardSummaryBox2>a:nth-child(3) {
  background-color: #ffc35e;
  color: rgb(255, 255, 255);
  /* Bright Orange */
}

.dashboardSummaryBox2>a:nth-child(4) {
  background-color: #81c784;
  color: rgb(255, 255, 255);
  /* Bright Green */
}

.dashboardSummaryBox2>a:nth-child(5) {
  background-color: #da9ce6;
  color: rgb(255, 255, 255);
  /* Different Bright Purple */
}

.lineChart {
  width: 80%;
  margin: auto;
}

.doughnutChartsContainer {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: center;  /* Adjust as needed */
  width: 100%;
  margin-top: 20px;  /* Add margin as needed */
}

.doughnutChart1,
.doughnutChart2 {
  width: 30vmax;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboardContainer {
    border-left: none;
  }

  .dashboardSummary > div > p {
    margin: 0;
  }

  .dashboardSummaryBox2 > a {
    padding: 0.5rem;
    margin: 1rem;
    font: 300 0.9rem "Roboto";
  }
}
