.allReturnsPage {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#returnsListHeading {
    font: 400 2rem "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
}

.allReturnsTable {
    background-color: white;
}

.allReturnsTable div {
    font: 300 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.678);
    border: none;
}

.allReturnsTable a {
    color: rgba(0, 0, 0, 0.527);
    transition: all 0.5s;
}

.allReturnsTable a:hover {
    color: rgba(70, 117, 218, 0.932);
}

.actions-container {
    display: flex;
    gap: 10px;
}

.refundButton {
    background-color: rgba(70, 117, 218, 0.932);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.refundButton:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.MuiDataGrid-columnHeader {
    background-color: rgba(70, 117, 218, 0.932);
    padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255);
    font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-iconSeparator {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .allReturnsPage {
        padding: 0;
        height: 93vh;
    }

    #returnsListHeading {
        font: 400 2.2vmax "Roboto";
        padding: 4vw;
    }

    .allReturnsTable div {
        font: 300 4vw "Roboto";
    }

    .MuiDataGrid-columnHeader {
        padding: 20px !important;
    }

    .MuiDataGrid-columnHeader div {
        font: 500 5vw "Roboto" !important;
    }
}
