.orderDetailsContainer > h1 {
  font: 300 3vmax "Roboto";
  margin: 4vmax 0;
  color: tomato;
}

.orderDetailsContainer > p {
  font: 400 1.8vmax "Roboto";
}

.orderDetailsContainerBox {
  margin: 2vmax;
}

.orderDetailsContainerBox > div {
  display: flex;
  margin: 1vmax 0;
}

.orderDetailsContainerBox > div > p {
  font: 400 1vmax "Roboto";
  color: black;
}
.orderDetailsContainerBox > div > span {
  margin: 0 1vmax;
  font: 100 1vmax "Roboto";
  color: #575757;
}

.orderDetailsCartItems > p {
  font: 400 1.8vmax "Roboto";
}

.orderDetailsCartItems {
  padding: 2vmax 5vmax;
  border-top: 1px solid rgba(0, 0, 0, 0.164);
}

.orderDetailsCartItemsContainer > div {
  display: flex;
  font: 400 1vmax "Roboto";
  align-items: center;
  margin: 2vmax 0;
}

.orderDetailsCartItemsContainer > div > img {
  width: 3vmax;
}

.orderDetailsCartItemsContainer > div > a {
  color: #575757;
  margin: 0 2vmax;
  width: 60%;
  text-decoration: none;
}

.orderDetailsCartItemsContainer > div > span {
  font: 100 1vmax "Roboto";
  color: #5e5e5e;
}

.orderDetailsPage {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.orderDetailsContainer {
  flex: 60%;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.scrollable-content {
  overflow-y: auto;
  max-height: calc(100vh - 60px);
}

.orderDetailsItems {
  flex: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100vh - 60px);
}

.orderDetailsCartItemsContainer {
  display: flex;
  flex-direction: column;
}

.orderItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.orderItemImg {
  height: 400px;
  width: 400px;
  flex: 40%;
  margin-right: 1rem;
}

.orderItemImg img {
  max-width: 100%;
  height: auto;
  width: auto;
  align-items: flex-start;
}

.orderItemDetails {
  flex: 0 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.returnButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .orderDetailsContainer > p {
    font: 400 6vw "Roboto";
  }

  .orderDetailsContainerBox > div {
    margin: 6vw 0;
  }

  .orderDetailsContainerBox > div > p {
    font: 400 4vw "Roboto";
  }
  .orderDetailsContainerBox > div > span {
    font: 100 4vw "Roboto";
  }

  .orderDetailsCartItems > p {
    font: 400 6vw "Roboto";
  }

  .orderDetailsCartItemsContainer > div {
    font: 400 4vw "Roboto";
    margin: 4vw 0;
  }

  .orderDetailsCartItemsContainer > div > img {
    width: 10vw;
  }

  .orderDetailsCartItemsContainer > div > a {
    margin: 2vw;
    width: 30%;
  }

  .orderDetailsCartItemsContainer > div > span {
    font: 100 4vw "Roboto";
  }

    .orderDetailsPage {
      flex-direction: column;
    }

    .orderDetailsContainer,
    .orderDetailsItems {
      padding: 10px;
      border: none;
    }

    .orderDetailsContainer {
      margin-bottom: 20px;
    }

    .orderItem {
      flex-direction: column;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border: none;
    }

    .orderItemImg,
    .orderItemDetails {
      text-align: center;
    }

    .orderItemImg img {
      max-height: 12vmax;
    }
}
