.homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 40vmax;
    padding: 1vmax;
    margin: 2vmax auto;
    color: rgb(0, 0, 0, 0.7);
}

.homeHeading span {
    color: tomato;
}

.features-container {
    text-align: center;
    justify-content: space-around;
    margin: 20px;
}

.features-container h2 {
    padding-bottom: 20px;
}

.plus-membership {
    text-align: center;
    margin: 20px auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

.features-container li {
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #333;
}

.features-container a {
    color: rgba(70, 117, 218, 0.932);
    text-decoration: none;
    font-weight: bold;
}

.column span {
    color: tomato;
}

.plus-membership {
    width: 60%;
    margin: 20px auto;
}

.plus-membership h2 {
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    text-align: center;
}

.subscription-package {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.subscription-package h3 {
    color: #333;
    font-size: 1.2rem;
}

.subscription-package p {
    margin: 5px 0;
    font-size: 1rem;
    text-align: center;
}

.subscription-package a {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgba(70, 117, 218, 0.932);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.subscription-package a:hover {
    background-color: #456bdd;
}
